@font-face {
	font-family: 'CustomBold';
	src: url('../fonts/Lato-Bold.ttf') format('truetype'),
		url('../fonts/Lato-Bold.woff') format('woff');
}

@font-face {
	font-family: 'CustomReg';
	src: url('../fonts/Lato-Regular.ttf') format('truetype'),
		url('../fonts/Lato-Regular.woff') format('woff');
}

@font-face {
	font-family: 'CustomLight';
	src: url('../fonts/Lato-Light.ttf') format('truetype'),
		url('../fonts/Lato-Light.woff') format('woff');
}

@font-face {
	font-family: 'CustomHeavy';
	src: url('../fonts/Lato-Heavy.ttf') format('truetype'),
		url('../fonts/Lato-Heavy.woff') format('woff');
}

html,
body {
	overflow: hidden;
	background-size: cover;
	color: #fafafc;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}


video,
canvas {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}

.info {
	display: flex;
	margin: 0 auto;
	position: fixed;
	bottom: 0;
	width: 100vw;
	z-index: 5;
	justify-content: center
}

.col-3 {
	width: 25%;
	align-self: flex-end;
	text-align: center
}

.col-6 {
	width: 50%;
	text-align: center;
}



.button {
	box-sizing: border-box;
	background: #121212;
	border-radius: 100%;
	padding: 7px;
	margin-bottom: 2vh;
	height: 60px;
	width: 60px
}



.button:hover,
.info-footer-icons:hover {
	text-decoration: none;
	cursor: pointer;
}

#model-info {
	display: none;
	flex-direction: column;
	box-sizing: border-box;
	padding: 20px;
	width: 80%;
	height: 70%;
	margin-top: -100px;
	background: rgba(18, 18, 18, 0.9);
	border-radius: 15px;
	position: relative;
	z-index: 5;
}

#info-text {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

#info-text::-webkit-scrollbar {
	width: 2vw;
	max-width: 10px;
}

#info-text::-webkit-scrollbar-thumb {
	background-color: #6281ef;
	border-radius: 100px;
}

#info-text::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 32, 0.2);
	border-radius: 100px;
}

#model-info #info-name {
	display: inline-block;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto 10px;
	/* padding: 10px 10px 5px 10px; */
}

svg text {
	font-family: 'CustomBold'
}

#model-info #info-name h1 {
	text-align: center;
	font-size: 20pt;
	font-family: 'CustomBold';
	font-weight: normal;
	font-style: normal;
	margin: 0;
}

#model-info #info-text p {
	font-family: 'CustomLight';
	font-size: 12pt;
	font-weight: 600;
	margin: 0 5%;
	line-height: 1.5em;
}

#info-text a {
	color: #6281ef;
	font-family: 'CustomBold';
}

#model-info #info-footer {
	bottom: 5px;
	margin: 0 auto;
	width: 100%;
	display: inline-flex;
	padding-top: 20px;
	box-sizing: border-box;
	height: fit-content;
	padding-bottom: 10px
}

#info-footer a {
	margin: 0 auto;
	height: fit-content;
}

#model-info em {
	font-style: normal;
	font-family: 'CustomBold';
	color: #6281ef
}


#model-info .info-footer-icons {
	margin: 0 auto;
	vertical-align: middle;
	display: inline-flex;
	height: 40px;
	width: 40px
}

#text-info > img {
	margin: 12px 0;
}

@media (min-width: 768px) {
	.button {
		padding: 15px;
		height: 80px;
		width: 80px;
	}

	#model-info #info-name h1 {
		text-align: center;
		font-size: 30pt
	}

	#model-info #info-text p {
		font-size: 1em;
	}

	#model-info .info-footer-icons {
		height: 50px
	}

	#model-info .spacer {
		width: 25%
	}

	.info .spacer {
		width: 20vw
	}


}
